/*imagen de fondo*/
body{ background-image: url(imagenes/black-aqua-chernaya-voda.jpg); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    background-color: black;
}
#pixeles{     
    background-image: url(imagenes/sci-fi\ flares202.png);
    height: 1000px;; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    filter: invert();
    opacity: 0.5;
    }

    h2{font-family: fenrise; color: aqua; }
    p{ color: white; font-family: 'arial';}

    li{display: inline; color: white; font-family: 'fenrise'; border-radius: 1px; border-color: aqua; border-style: solid; border-width: 1px; padding: 5px; border-bottom-left-radius: 5px; border-right-width: 5px; }
    li :hover{color: white;}

    ul{border-style: none none solid none; color: aqua; border-width: 1px; padding-bottom: 10px; list-style-type: none; padding-left: 0%;}