
/*imagen de fondo*/
body{ background-image: url(imagenes/black-aqua-chernaya-voda.jpg); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    background-color: black;
}
#pixeles{     
    background-image: url(imagenes/sci-fi\ flares202.png);
    height: 1000px;; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    filter: invert();
    opacity: 0.5;
    }

/*Titulo "experiencia laboral"*/
h1{
    font-family: 'fenrise'; 
    color: aqua;
    font-size: 24px;
}

h2{
    font-family: 'arial';
    color: white;
    font-size: 16px;  
    border-style: none solid solid none; border-color: white; border-bottom-right-radius:  4px; width: 300px; border-width: 1px; 
     
}


.ingenierorf{ color:aliceblue; font-family: 'arial';border-style: none  none none solid; border-width: 5px; border-color: aqua;}
.teamlead{color:aliceblue; font-family: 'arial';border-style: none  none none solid; border-width: 5px; border-color: aqua;}
.posproled{color:aliceblue; font-family: 'arial';border-style: none  none none solid; border-width: 5px; border-color: aqua;}
.databright{color:aliceblue; font-family: 'arial';border-style: none  none none solid; border-width: 5px; border-color: aqua;}
.reswei{color:aliceblue; font-family: 'arial';}
.ressutel{color:aliceblue; font-family: 'arial';}
.resdefyl{color:aliceblue; font-family: 'arial';}
.resbright{color:aliceblue; font-family: 'arial';}
.unicit{color:aliceblue; font-family: 'arial';}
.teresiano{color:aliceblue; font-family: 'arial';}
.habilidades{color:aliceblue; font-family: 'arial';}
.portfolio{color:aliceblue; padding-top: 5px; padding-left: 10px; padding-right: 10px; padding-bottom: 5px; font-family: 'Fenrise'; border-style: solid solid solid solid; border-width: 1px; border-color: aqua; border-bottom-left-radius: 4px; border-right-width: 5px;}
.contactar{color:aliceblue; padding-top: 5px; padding-left: 10px; padding-right: 10px; padding-bottom: 5px; font-family: 'Fenrise'; border-style: solid solid solid solid; border-width: 1px; border-color: aqua; border-bottom-left-radius: 4px; border-right-width: 5px;}

