/*imagen de fondo*/
body{ background-image: url(imagenes/black-aqua-chernaya-voda.jpg); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    background-color: black;}

    #pixeles{     
    background-image: url(imagenes/sci-fi\ flares202\ copytranspw.png);
    height:auto; /* You must set a specified height */
    /*background-position: center; /* Center the image */
    background-repeat:repeat; /* Do not repeat the image */
    /*background-size: cover; /* Resize the background image to cover the entire container */
    }

    

    .copyright{color: white; font-family: 'fenrise'; font-size: 12px;}

    h4{font-family: 'fenrise'; color: aqua;}

   
    .column img {
    margin-left: 25%;
    margin-right: 0;
    width: 50%;
    border-style: none solid solid none;
    border-color: aqua;
  }
  

       

